:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #212529; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #535353; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #465367; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}
.bi-twitter::before {
  content: "\f8db";
}

.bi-facebook::before {
  content: "\f8db";
}

.bi-instagram::before {
  content: "\f8db";
}

.bi-linkedin::before {
  content: "\f8db";
}
.bi-list::before {
  content: "\f479";
}

.slider .swiper-button-prev:after,
.slider .swiper-button-next:after {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}
