.bi-twitter::before {
  content: "\f8db";
}

.bi-facebook::before {
  content: "\f8db";
}

.bi-instagram::before {
  content: "\f8db";
}

.bi-linkedin::before {
  content: "\f8db";
}
.bi-list::before {
  content: "\f479";
}
